<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.enjoytrip.attraction.mapper.AttractionMapper">

    <insert id="insertAttraction" parameterType="com.enjoytrip.attraction.domain.Attraction">
        INSERT INTO attractions (address, content_id, first_image, map_x, map_y, tel, title, sigungu_name)
        VALUES (#{address}, #{contentId}, #{firstImage}, #{mapX}, #{mapY}, #{tel}, #{title}, #{sigunguName})
        <selectKey resultType="Long" keyProperty="attractionId" order="AFTER">
            SELECT LAST_INSERT_ID()
        </selectKey>
    </insert>

    <select id="findAttractionIdByContentId" parameterType="String" resultType="Long">
        SELECT attraction_id
        FROM attractions
        WHERE content_id = #{contentId}
    </select>

    <select id="getAttractionsByIds" resultType="com.enjoytrip.attraction.domain.AttractionRanking">
        SELECT address, content_id, first_image, map_x, map_y, sigungu_name, tel, title
        FROM attractions
        WHERE attraction_id IN
        <foreach collection="topAttractionIds" item="id" open="(" separator="," close=")">#{id}</foreach>
    </select>

</mapper>
